[submodule "Chilli/Libs/GLFW"]
	path = Chilli/Libs/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "Chilli/Libs/SpdLog"]
	path = Chilli/Libs/SpdLog
	url = https://github.com/gabime/spdlog.git
[submodule "Chilli/Libs/VMA"]
	path = Chilli/Libs/VMA
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "Chilli/Libs/glm"]
	path = Chilli/Libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "Chilli/Libs/Stb"]
	path = Chilli/Libs/Stb
	url = https://github.com/nothings/stb.git
[submodule "Chilli/Libs/SPIRV-Reflect"]
	path = Chilli/Libs/SPIRV-Reflect
	url = https://github.com/KhronosGroup/SPIRV-Reflect.git
